h1 { 
	color: black;
	border-bottom: solid 3px black;
	font-family: Times;
	margin-bottom: 25px;
 }

.container {
    position: relative;
    text-align: center;
    color: white;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}


 #description
 {
 	color: black;

 }

.sayings
{
	font-size: 12px;

}
